<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Directory</title>
    <link rel="stylesheet" href="home-page.component.css">
</head>

<body>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>DOB</th>
                    <th>Email</th>
                    <th>Mobile</th>
                </tr>
            </thead>
            <tbody id="employeeTable">
                <tr>
                    <td><input type="checkbox"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="icons">
                        <img src="assets\Images\add-icon.png" alt="Add Icon" class="icon">
                        <img src="assets\Images\pencil-icon.png" alt="Edit Icon" class="icon">
                        <img src="assets\Images\delete-icon.png" alt="Delete Icon" class="icon">
                    </td>

                </tr>
            </tbody>
        </table>
    </div>


    <div id="aboutModal" class="modal">
        <div class="modal-content">
            <span class="closeBtn">&times;</span>
            <p>This is an employee directory application. You can add, update, or delete employee records.</p>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>