<div class="login-container">
  <h2>Log in to your account</h2>
  <form>
      <label for="email">Email</label>
      <input type="email" id="email" placeholder="Enter your email">
      <label for="password">Password</label>
      <input type="password" id="password" placeholder="Enter your password">
      <button type="submit">Sign in</button>
      <p>Don't have an account? <a href="#">Sign up</a></p>
      <div class="social-media-icons">
          <a href="#" class="google-icon"></a>
          <a href="#" class="twitter-icon"></a>
          <a href="#" class="github-icon"></a>
      </div>
  </form>
</div>

<script src="login.ts"></script>

<router-outlet />
