.gradient-custom {
    background: #ffffff;
    
    background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255))
    }